<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.sensors2.osc"
    android:installLocation="auto">

    <uses-sdk tools:overrideLibrary="com.google.android.gms.all,
    com.google.android.gms.ads,
    com.google.android.gms.auth,
    com.google.android.gms.base,
    com.google.android.gms.measurement,
    com.google.android.gms,
    com.google.android.gms.analytics,
    com.google.android.gms.appindexing,
    com.google.android.gms.appinvite,
    com.google.android.gms.appstate,
    com.google.android.gms.cast,
    com.google.android.gms.drive,
    com.google.android.gms.fitness,
    com.google.android.gms.location,
    com.google.android.gms.maps,
    com.google.android.gms.games,
    com.google.android.gms.gcm,
    com.google.android.gms.identity,
    com.google.android.gms.nearby,
    com.google.android.gms.panorama,
    com.google.android.gms.plus,
    com.google.android.gms.safetynet,
    com.google.android.gms.wallet,
    com.google.android.gms.wearable,
    org.sensors2.common" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/wotw_header"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!--<uses-library android:name="net.sf.supercollider.android" />-->
        <activity
            android:name=".activities.StartUpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.StartUpActivity" />
        </activity>
        <activity
            android:name=".activities.GuideActivity"
            android:label="@string/action_guide"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.StartUpActivity" />
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/action_about"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.StartUpActivity" />
        </activity>
        <service android:name="net.sf.supercollider.android.ScService" >
            <intent-filter>
                <action android:name="supercollider.START_SERVICE" />
            </intent-filter>
        </service>
    </application>
</manifest>